name: Push Placeholder Image

permissions:
  contents: read
  packages: write

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: 'target image name (xpost)'
        required: true
        type: string

jobs:
  push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and Push Placeholder
        run: |
          echo "FROM scratch" > Dockerfile
          echo "LABEL placeholder=true" >> Dockerfile

          docker build -t ghcr.io/zenfyrdev/${{ github.event.inputs.image_name }}:latest .
          docker push ghcr.io/zenfyrdev/${{ github.event.inputs.image_name }}:latest
